# **Diabetes Prediction Model**

------------

In [ ]:
import numpy as np 
import pandas as pd 
from scipy import stats 
import seaborn as sns

from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, Dropout

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
data= pd.read_csv('/content/gdrive/MyDrive/UIA Hackathon/diabetes.csv')
data.head()

   Glucose  BloodPressure  Insulin   BMI  Age  Outcome
0      148             72        0  33.6   50        1
1       85             66        0  26.6   31        0
2      183             64        0  23.3   32        1
3       89             66       94  28.1   21        0
4      137             40      168  43.1   33        1

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Glucose        768 non-null    int64
 1   BloodPressure  768 non-null    int64
 2   Insulin        768 non-null    int64
 3   BMI            768 non-null    float64
 4   Age            768 non-null    int64
 5   Outcome        768 non-null    int64
dtypes: float64(1), int64(5)
memory usage: 36.1 KB

In [ ]:
data.dtypes

Glucose            int64
BloodPressure      int64
Insulin            int64
BMI              float64
Age                int64
Outcome            int64
dtype: object

This data does not contain any null values. So we don't need to worry about filling/dropping values.

In [ ]:
data.isnull().sum()

Glucose          0
BloodPressure    0
Insulin          0
BMI              0
Age              0
Outcome          0
dtype: int64

In [ ]:
data.duplicated()
data=data.drop_duplicates()
data.head()

   Glucose  BloodPressure  Insulin   BMI  Age  Outcome
0      148             72        0  33.6   50        1
1       85             66        0  26.6   31        0
2      183             64        0  23.3   32        1
3       89             66       94  28.1   21        0
4      137             40      168  43.1   33        1

The data doesn't contain any duplicate values also. Hence we need not worry about them.

In [ ]:
data.describe()

,Glucose,BloodPressure,Insulin,BMI,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,120.894531,69.105469,79.799479,31.992578,33.240885,0.348958
std,31.972618,19.355807,115.244002,7.884160,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,21.000000,0.000000
25%,99.000000,62.000000,0.000000,27.300000,24.000000,0.000000
50%,117.000000,72.000000,30.500000,32.000000,29.000000,0.000000
75%,140.250000,80.000000,127.250000,36.600000,41.000000,1.000000
max,199.000000,122.000000,846.000000,67.100000,81.000000,1.000000

All bioparameters are in the range. Hence the data does not have observational/structural errors in them. Hence we need to worry about them.

In [ ]:
for x in data.columns:
    z=np.abs(stats.zscore(data[x]))
    print(x+str(z))

Glucose0      0.848324
1      1.123396
2      1.943724
3      0.998208
4      0.504055
         ...
763    0.622642
764    0.034598
765    0.003301
766    0.159787
767    0.873019
Name: Glucose, Length: 768, dtype: float64
BloodPressure0      0.149641
1      0.160546
2      0.263941
3      0.160546
4      1.504687
         ...
763    0.356432
764    0.046245
765    0.149641
766    0.470732
767    0.046245
Name: BloodPressure, Length: 768, dtype: float64
Insulin0      0.692891
1      0.692891
2      0.692891
3      0.123302
4      0.765836
         ...
763    0.870031
764    0.692891
765    0.279594
766    0.692891
767    0.692891
Name: Insulin, Length: 768, dtype: float64
BMI0      0.204013
1      0.684422
2      1.103255
3      0.494043
4      1.409746
         ...
763    0.115169
764    0.610154
765    0.735190
766    0.240205
767    0.202129
Name: BMI, Length: 768, dtype: float64
Age0      1.425995
1      0.190672
2      0.105584
3      1.041549
4      0.020496
         ...
763    2.532136
764    0.531023
765    0.275760
766    1.170732
767    0.871374
Name: Age, Length: 768, dtype: float64
Outcome0      1.365896
1      0.732120
2      1.365896
3      0.732120
4      1.365896
         ...
763    0.732120
764    0.732120
765    0.732120
766    1.365896
767    0.732120
Name: Outcome, Length: 768, dtype: float64

According to the z-score statistical parameter, the above datapoints are considered as outliers. But I dont think these are outliers and I consider that these data are essential for identfying diabetes condition.

The next step is feature scaling. I am doing a comparison of ML and DL for this dataset. For ML, i am considering SVM, which is a distance based algorithm. Hence normalization of data would be appropriate. On the other hand, for DL I am considering ANN, which is gradient descent based algorithm for which standardisation of data would be appropriate, since it can help in faster identification of local minima.

In [ ]:
data_norm=data.copy()
for column in data.columns:
    data_norm[column] = (data_norm[column] - data_norm[column].min()) / (data_norm[column].max() - data_norm[column].min()) 
data_norm.head()

    Glucose  BloodPressure   Insulin       BMI       Age  Outcome
0  0.743719       0.590164  0.000000  0.500745  0.483333      1.0
1  0.427136       0.540984  0.000000  0.396423  0.166667      0.0
2  0.919598       0.524590  0.000000  0.347243  0.183333      1.0
3  0.447236       0.540984  0.111111  0.418778  0.000000      0.0
4  0.688442       0.327869  0.198582  0.642325  0.200000      1.0

In [ ]:
lis = ['Glucose','BloodPressure','BMI','Age']
def standartization(x):
    x_std = x.copy(deep=True)
    for column in lis:
        x_std[column] = (x_std[column] - x_std[column].mean()) / x_std[column].std() 
    return x_std

data = standartization(data)
data.head()

    Glucose  BloodPressure  Insulin       BMI       Age  Outcome
0  0.847771       0.149543        0  0.203880  1.425067        1
1 -1.122665      -0.160441        0 -0.683976 -0.190548        0
2  1.942458      -0.263769        0 -1.102537 -0.105515        1
3 -0.997558      -0.160441       94 -0.493721 -1.040871        0
4  0.503727      -1.503707      168  1.408828 -0.020483        1

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 768 entries, 0 to 767
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Glucose        768 non-null    float64
 1   BloodPressure  768 non-null    float64
 2   Insulin        768 non-null    int64
 3   BMI            768 non-null    float64
 4   Age            768 non-null    float64
 5   Outcome        768 non-null    int64
dtypes: float64(4), int64(2)
memory usage: 42.0 KB

In [ ]:
data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [ ]:
y=data['Outcome']
x=data.drop(['Outcome'],axis=1)

In [ ]:
x.shape

(768, 5)

In [ ]:
y.shape

(768,)

In [ ]:
yn=data_norm['Outcome']
xn=data_norm.drop(['Outcome'],axis=1)

I am creating separate train and test sets for standardised and normalised data. the ones having n as suffix are normalised.

In [ ]:
xtrain,xtest,ytrain,ytest= train_test_split(x,y,test_size=0.15,stratify=y)
print("Xtrain :- " + str(xtrain.shape) + "\n" + "Xtest :- " + str(xtest.shape) + "\n" + "Ytrain :- " + str(ytrain.shape) + "\n" + "Ytest :- " + str(ytest.shape))

Xtrain :- (652, 5)
Xtest :- (116, 5)
Ytrain :- (652,)
Ytest :- (116,)

In [ ]:
xntrain,xntest,yntrain,yntest= train_test_split(xn,yn,test_size=0.15,stratify=y)
print("Xntrain :- " + str(xntrain.shape) + "\n" + "Xntest :- " + str(xntest.shape) + "\n" + "Yntrain :- " + str(yntrain.shape) + "\n" + "Yntest :- " + str(yntest.shape))

Xntrain :- (652, 5)
Xntest :- (116, 5)
Yntrain :- (652,)
Yntest :- (116,)

In [ ]:
model = Sequential()
model.add(Dense(256,activation='relu',input_shape=([5])))
model.add(Dense(256,activation='relu'))
model.add(Dense(1,activation='sigmoid'))
model.summary()
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 256)               1536

 dense_1 (Dense)             (None, 256)               65792

 dense_2 (Dense)             (None, 1)                 257

=================================================================
Total params: 67,585
Trainable params: 67,585
Non-trainable params: 0
_________________________________________________________________

In [ ]:
ytest

176    0
765    0
727    0
487    0
590    1
      ..
637    0
101    0
427    1
503    0
249    0
Name: Outcome, Length: 116, dtype: int64

In [ ]:
nepochs = 50
history = model.fit(xtrain ,
                    ytrain ,
                    epochs= nepochs ,
                    steps_per_epoch=200,
                    validation_data=(xtest ,ytest))

Epoch 1/50
200/200 [==============================] - 2s 4ms/step - loss: 1.7172 - accuracy: 0.6787 - val_loss: 0.5934 - val_accuracy: 0.7414
Epoch 2/50
200/200 [==============================] - 1s 3ms/step - loss: 1.5212 - accuracy: 0.6475 - val_loss: 0.6045 - val_accuracy: 0.6897
Epoch 3/50
200/200 [==============================] - 1s 3ms/step - loss: 0.7253 - accuracy: 0.7275 - val_loss: 0.7329 - val_accuracy: 0.7069
Epoch 4/50
200/200 [==============================] - 1s 3ms/step - loss: 0.7150 - accuracy: 0.7200 - val_loss: 0.5440 - val_accuracy: 0.7500
Epoch 5/50
200/200 [==============================] - 1s 3ms/step - loss: 0.6805 - accuracy: 0.7375 - val_loss: 0.4717 - val_accuracy: 0.7759
Epoch 6/50
200/200 [==============================] - 1s 3ms/step - loss: 0.6304 - accuracy: 0.7412 - val_loss: 0.4769 - val_accuracy: 0.7759
Epoch 7/50
200/200 [==============================] - 1s 3ms/step - loss: 0.5811 - accuracy: 0.7387 - val_loss: 0.6037 - val_accuracy: 0.7241
Epoch 8/50
200/200 [==============================] - 1s 3ms/step - loss: 0.5627 - accuracy: 0.7525 - val_loss: 1.2612 - val_accuracy: 0.5862
Epoch 9/50
200/200 [==============================] - 1s 3ms/step - loss: 0.6341 - accuracy: 0.7400 - val_loss: 0.6513 - val_accuracy: 0.7155
Epoch 10/50
200/200 [==============================] - 1s 3ms/step - loss: 0.5544 - accuracy: 0.7538 - val_loss: 0.4947 - val_accuracy: 0.7759
Epoch 11/50
200/200 [==============================] - 1s 3ms/step - loss: 0.5233 - accuracy: 0.7613 - val_loss: 0.4911 - val_accuracy: 0.7845
Epoch 12/50
200/200 [==============================] - 1s 3ms/step - loss: 0.5509 - accuracy: 0.7300 - val_loss: 0.5613 - val_accuracy: 0.7414
Epoch 13/50
200/200 [==============================] - 1s 3ms/step - loss: 0.5111 - accuracy: 0.7575 - val_loss: 0.4971 - val_accuracy: 0.7500
Epoch 14/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4516 - accuracy: 0.7775 - val_loss: 0.5429 - val_accuracy: 0.7586
Epoch 15/50
200/200 [==============================] - 1s 5ms/step - loss: 0.4595 - accuracy: 0.7837 - val_loss: 0.4910 - val_accuracy: 0.7845
Epoch 16/50
200/200 [==============================] - 1s 5ms/step - loss: 0.4888 - accuracy: 0.7513 - val_loss: 0.4876 - val_accuracy: 0.7845
Epoch 17/50
200/200 [==============================] - 1s 5ms/step - loss: 0.4347 - accuracy: 0.7987 - val_loss: 0.5168 - val_accuracy: 0.7931
Epoch 18/50
200/200 [==============================] - 1s 5ms/step - loss: 0.4540 - accuracy: 0.7788 - val_loss: 0.5184 - val_accuracy: 0.7931
Epoch 19/50
200/200 [==============================] - 1s 4ms/step - loss: 0.4480 - accuracy: 0.7738 - val_loss: 0.6284 - val_accuracy: 0.7500
Epoch 20/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4404 - accuracy: 0.7812 - val_loss: 0.5402 - val_accuracy: 0.7931
Epoch 21/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4228 - accuracy: 0.7937 - val_loss: 0.5501 - val_accuracy: 0.7500
Epoch 22/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4230 - accuracy: 0.7925 - val_loss: 0.5677 - val_accuracy: 0.7586
Epoch 23/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4286 - accuracy: 0.8000 - val_loss: 0.5582 - val_accuracy: 0.7328
Epoch 24/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4172 - accuracy: 0.8012 - val_loss: 0.6244 - val_accuracy: 0.7414
Epoch 25/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4258 - accuracy: 0.8000 - val_loss: 0.5690 - val_accuracy: 0.7586
Epoch 26/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4091 - accuracy: 0.7887 - val_loss: 0.5826 - val_accuracy: 0.7931
Epoch 27/50
200/200 [==============================] - 1s 3ms/step - loss: 0.3952 - accuracy: 0.8163 - val_loss: 0.5891 - val_accuracy: 0.7845
Epoch 28/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4218 - accuracy: 0.8000 - val_loss: 0.5711 - val_accuracy: 0.7931
Epoch 29/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4110 - accuracy: 0.7937 - val_loss: 0.6456 - val_accuracy: 0.7241
Epoch 30/50
200/200 [==============================] - 1s 3ms/step - loss: 0.3937 - accuracy: 0.8138 - val_loss: 0.5934 - val_accuracy: 0.7672
Epoch 31/50
200/200 [==============================] - 1s 3ms/step - loss: 0.3874 - accuracy: 0.8150 - val_loss: 0.6023 - val_accuracy: 0.7500
Epoch 32/50
200/200 [==============================] - 1s 3ms/step - loss: 0.3882 - accuracy: 0.8213 - val_loss: 0.5975 - val_accuracy: 0.7931
Epoch 33/50
200/200 [==============================] - 1s 3ms/step - loss: 0.3803 - accuracy: 0.8300 - val_loss: 0.6521 - val_accuracy: 0.7500
Epoch 34/50
200/200 [==============================] - 1s 3ms/step - loss: 0.3669 - accuracy: 0.8150 - val_loss: 0.6185 - val_accuracy: 0.7845
Epoch 35/50
200/200 [==============================] - 1s 4ms/step - loss: 0.3827 - accuracy: 0.8225 - val_loss: 0.6455 - val_accuracy: 0.7586
Epoch 36/50
200/200 [==============================] - 1s 5ms/step - loss: 0.3582 - accuracy: 0.8300 - val_loss: 0.6120 - val_accuracy: 0.7931
Epoch 37/50
200/200 [==============================] - 1s 5ms/step - loss: 0.3714 - accuracy: 0.8288 - val_loss: 0.6389 - val_accuracy: 0.7672
Epoch 38/50
200/200 [==============================] - 1s 5ms/step - loss: 0.3682 - accuracy: 0.8325 - val_loss: 0.6622 - val_accuracy: 0.7500
Epoch 39/50
200/200 [==============================] - 1s 5ms/step - loss: 0.3877 - accuracy: 0.8050 - val_loss: 0.6971 - val_accuracy: 0.7328
Epoch 40/50
200/200 [==============================] - 1s 3ms/step - loss: 0.3637 - accuracy: 0.8300 - val_loss: 0.6696 - val_accuracy: 0.7414
Epoch 41/50
140/200 [====================>.........] - ETA: 0s - loss: 0.3718 - accuracy: 0.8321

WARNING:tensorflow:Your input ran out of data; interrupting training. Make sure that your dataset or generator can generate at least `steps_per_epoch * epochs` batches (in this case, 10000 batches). You may need to use the repeat() function when building your dataset.

200/200 [==============================] - 1s 4ms/step - loss: 0.3722 - accuracy: 0.8317 - val_loss: 0.7537 - val_accuracy: 0.7155

In [ ]:
model.evaluate(xtrain,ytrain)

21/21 [==============================] - 0s 2ms/step - loss: 0.3841 - accuracy: 0.8083

[0.38407522439956665, 0.808282196521759]

In [ ]:
model.evaluate(xtest,ytest)

4/4 [==============================] - 0s 4ms/step - loss: 0.7537 - accuracy: 0.7155

[0.7537275552749634, 0.7155172228813171]

As you can see, the ANN produced 68% test accuracy which is way less than SVM. Hence we can say that the ML algorithm produced well than that of DL algorithm. Can we stop with this conclusion or are we missing something??

In [ ]:
print(data['Outcome'].value_counts())
df_class_0 = data[data['Outcome'] == 0]
df_class_1 = data[data['Outcome'] == 1]

0    500
1    268
Name: Outcome, dtype: int64

As you can see, there is class imbalance, the amount of diabetes negative is twice than that of diabetes positive. In this scenario, we cant compare the performance of algorithms based on accuracy. So to overcome the class imbalance I oversampled the minority class to the samples of majority class (500). So the total data consits of 1000 samples with equal distribution. I repeated this process for the standardised and normalized datasets.

There isn't much change in the accuracy of the algorithm but there is huge improvement in the classification report before and after sampling, especially for the diabetes class.

In [ ]:
nepochs = 50
history = model.fit(xntrain ,
                    yntrain ,
                    epochs= nepochs ,
                    steps_per_epoch=200,
                    validation_data=(xntest ,yntest))

Epoch 1/50
200/200 [==============================] - 1s 4ms/step - loss: 0.5210 - accuracy: 0.7387 - val_loss: 0.5525 - val_accuracy: 0.7328
Epoch 2/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4967 - accuracy: 0.7638 - val_loss: 0.4749 - val_accuracy: 0.7414
Epoch 3/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4917 - accuracy: 0.7700 - val_loss: 0.4926 - val_accuracy: 0.7328
Epoch 4/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4522 - accuracy: 0.7950 - val_loss: 0.4811 - val_accuracy: 0.7241
Epoch 5/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4675 - accuracy: 0.7788 - val_loss: 0.4951 - val_accuracy: 0.7586
Epoch 6/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4692 - accuracy: 0.7725 - val_loss: 0.4823 - val_accuracy: 0.7241
Epoch 7/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4573 - accuracy: 0.7937 - val_loss: 0.4740 - val_accuracy: 0.7500
Epoch 8/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4707 - accuracy: 0.7675 - val_loss: 0.5037 - val_accuracy: 0.7328
Epoch 9/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4597 - accuracy: 0.7788 - val_loss: 0.4669 - val_accuracy: 0.7500
Epoch 10/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4418 - accuracy: 0.7925 - val_loss: 0.5084 - val_accuracy: 0.7155
Epoch 11/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4605 - accuracy: 0.7887 - val_loss: 0.5013 - val_accuracy: 0.7241
Epoch 12/50
200/200 [==============================] - 1s 4ms/step - loss: 0.4595 - accuracy: 0.7675 - val_loss: 0.4882 - val_accuracy: 0.7155
Epoch 13/50
200/200 [==============================] - 1s 5ms/step - loss: 0.4554 - accuracy: 0.7750 - val_loss: 0.4772 - val_accuracy: 0.7500
Epoch 14/50
200/200 [==============================] - 1s 5ms/step - loss: 0.4446 - accuracy: 0.7937 - val_loss: 0.4909 - val_accuracy: 0.7328
Epoch 15/50
200/200 [==============================] - 1s 5ms/step - loss: 0.4459 - accuracy: 0.7900 - val_loss: 0.4914 - val_accuracy: 0.7241
Epoch 16/50
200/200 [==============================] - 1s 5ms/step - loss: 0.4665 - accuracy: 0.7725 - val_loss: 0.4857 - val_accuracy: 0.7328
Epoch 17/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4347 - accuracy: 0.8025 - val_loss: 0.4953 - val_accuracy: 0.7328
Epoch 18/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4445 - accuracy: 0.7750 - val_loss: 0.5168 - val_accuracy: 0.7241
Epoch 19/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4516 - accuracy: 0.7775 - val_loss: 0.4899 - val_accuracy: 0.7414
Epoch 20/50
200/200 [==============================] - 1s 5ms/step - loss: 0.4578 - accuracy: 0.7788 - val_loss: 0.4826 - val_accuracy: 0.7500
Epoch 21/50
200/200 [==============================] - 1s 4ms/step - loss: 0.4218 - accuracy: 0.7962 - val_loss: 0.4771 - val_accuracy: 0.7414
Epoch 22/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4441 - accuracy: 0.7788 - val_loss: 0.4889 - val_accuracy: 0.7414
Epoch 23/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4461 - accuracy: 0.7750 - val_loss: 0.4822 - val_accuracy: 0.7328
Epoch 24/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4381 - accuracy: 0.7950 - val_loss: 0.4916 - val_accuracy: 0.7328
Epoch 25/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4138 - accuracy: 0.7900 - val_loss: 0.4927 - val_accuracy: 0.7241
Epoch 26/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4390 - accuracy: 0.7987 - val_loss: 0.4729 - val_accuracy: 0.7500
Epoch 27/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4356 - accuracy: 0.7900 - val_loss: 0.4979 - val_accuracy: 0.7328
Epoch 28/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4288 - accuracy: 0.7937 - val_loss: 0.4738 - val_accuracy: 0.7414
Epoch 29/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4282 - accuracy: 0.8012 - val_loss: 0.5276 - val_accuracy: 0.7414
Epoch 30/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4233 - accuracy: 0.7950 - val_loss: 0.4750 - val_accuracy: 0.7586
Epoch 31/50
200/200 [==============================] - 1s 4ms/step - loss: 0.4436 - accuracy: 0.7875 - val_loss: 0.4789 - val_accuracy: 0.7328
Epoch 32/50
200/200 [==============================] - 1s 5ms/step - loss: 0.4270 - accuracy: 0.7862 - val_loss: 0.4808 - val_accuracy: 0.7500
Epoch 33/50
200/200 [==============================] - 2s 9ms/step - loss: 0.4112 - accuracy: 0.8100 - val_loss: 0.4829 - val_accuracy: 0.7328
Epoch 34/50
200/200 [==============================] - 2s 9ms/step - loss: 0.4418 - accuracy: 0.7862 - val_loss: 0.4838 - val_accuracy: 0.7241
Epoch 35/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4152 - accuracy: 0.8213 - val_loss: 0.4895 - val_accuracy: 0.7500
Epoch 36/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4247 - accuracy: 0.8012 - val_loss: 0.4994 - val_accuracy: 0.7586
Epoch 37/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4339 - accuracy: 0.7925 - val_loss: 0.4815 - val_accuracy: 0.7586
Epoch 38/50
200/200 [==============================] - 1s 3ms/step - loss: 0.3882 - accuracy: 0.8112 - val_loss: 0.5011 - val_accuracy: 0.7500
Epoch 39/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4389 - accuracy: 0.7912 - val_loss: 0.4780 - val_accuracy: 0.7155
Epoch 40/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4260 - accuracy: 0.7975 - val_loss: 0.4844 - val_accuracy: 0.7414
Epoch 41/50
140/200 [====================>.........] - ETA: 0s - loss: 0.3940 - accuracy: 0.8143

WARNING:tensorflow:Your input ran out of data; interrupting training. Make sure that your dataset or generator can generate at least `steps_per_epoch * epochs` batches (in this case, 10000 batches). You may need to use the repeat() function when building your dataset.

200/200 [==============================] - 1s 2ms/step - loss: 0.3983 - accuracy: 0.8150 - val_loss: 0.4801 - val_accuracy: 0.7586

In [ ]:
model.evaluate(xtest,ytest)

4/4 [==============================] - 0s 4ms/step - loss: 93.1821 - accuracy: 0.6810

[93.18208312988281, 0.681034505367279]

The ANN trained on the standardised and upsampled data performed the best result with 68% test accuracy.

In [ ]:
model.save("DiaCare.h5")

In [ ]:
from tensorflow import keras
model1 = keras.models.load_model("DiaCare.h5")

In [ ]:
model1.predict()

TypeError: ignored

In [ ]:
def prediction(arr):
  temp_vr = np.array(arr)
  temp_vr = temp_vr.reshape(-1,6,)
  return np.argmax(model.predict(temp_vr))

In [ ]:
print(type(xtrain))

make a dataframe -> with the same format of xtrain -> row of user input add -> we will give this to predict to get the outcome